;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[lilactown/helix "0.1.8"]]

 :dev-http {9000 "public"}
:builds
{:math-notebook
 {:target :browser
  :modules {:main {:init-fn pbranes.math-notebook.app/init!}}}}}
